<!doctype html>
<html ng-app="myApp">
<head>
  <title>Logowanie uzytkownikow i sesje</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
  <div class="form-container" ng-controller="myController">
    <p class="form-header">
      Profil uzytkownika
    </p>
    <form method="POST" action="/user/update">
      <label>Nazwa uzytkownika:</label>
      <input type="text" name="username" ng-model="user.username" /><br />
      <label>Email:</label>
      <input type="email" name="email" ng-model="user.email"/><br />
      <label>Kolor:</label>
      <input type="text" name="color" ng-model="user.color" /><br />
      <input type="submit" value="Zapisz" />
    </form>
  </div>
  <form method="POST" action="/user/delete">
    <input type="submit" value="Usuń" />
  </form>
  <hr /><%= msg %>
  <hr />{{error}}
  <script src="/lib/angular.min.js"></script>
  <script src="/static/js/my_app.js"></script>
</body>
</html>
