<div class="header-end">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox" id="#myCarousel">
            <div class="item active">
                <img src="./images/best.jpg" alt="...">
                <div class="carousel-caption car-re-posn">
                    <h3>AirMax</h3>
                    <h4>You feel to fall</h4>
                    <span class="color-bar"></span>
                </div>
            </div>
            <div class="item">
              <img src="./images/best.jpg" alt="..." id="#myCarousel1">
                <div class="carousel-caption car-re-posn">
                    <h3>AirMax</h3>
                    <h4>You feel to fall</h4>
                    <span class="color-bar"></span>
                </div>
            </div>
            <div class="item">
              <img src="./images/best.jpg" alt="..." id="#myCarousel2">
                <div class="carousel-caption car-re-posn">
                    <h3>AirMax</h3>
                    <h4>You feel to fall</h4>
                    <span class="color-bar"></span>
                </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left car-icn" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right car-icn" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="shop-grid">
    <div class="container" ng-init="getBooks()">
        <div ng-repeat="book in books" class="col-md-4 grid-stn simpleCart_shelfItem">
             <!-- normal -->
                <div class="ih-item square effect3 bottom_to_top">
                    <div class="bottom-2-top">
                        <div class="img">
                            <img ng-if="!book.image_url" ng-src="images/best.jpg" alt="/" class="img-responsive gri-wid">
                            <img ng-if="book.image_url" ng-src="{{book.image_url}}" alt="/" class="img-responsive gri-wid">
                        </div>
                    <div class="info">
                        <div class="pull-left styl-hdn">
                            <h3>{{book.title}}</h3>
                        </div>
                        <div class="pull-right styl-price">
                            <p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">$190</span></a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div></div>
                </div>
            <!-- end normal -->
            <div class="quick-view">
                <a href="#/books/details/{{book._id}}">Quick view</a>
            </div>
        </div>
<div class="clearfix"></div>
    </div>
</div>
<div class="sub-news">
    <div class="container">
        <form>
            <h3>NewsLetter</h3>
        <input type="text" class="sub-email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
        <a class="btn btn-default subs-btn" href="#" role="button">SUBSCRIBE</a>
        </form>
    </div>
</div>
