<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/logged">HOME</a></li>
            <li class="active">LOGIN</li>
        </ol>
    </div>
</div>
<!--signup-->
<!-- login-page -->
<div class="login">
    <div class="container">
        <div class="login-grids">
            <div class="col-md-6 log">
                     <h3>Login</h3>
                     <div class="strip"></div>
                     <p>Welcome, please enter the following to continue.</p>
                     <p>If you have previously Login with us, <a href="#">Click Here</a></p>
                     <form ng-submit="login()" method="POST">
                         <h5>User Name:</h5>
                         <input ng-model="user.username" type="text" name="username" value=""><br>
                         <span ng-show="errorUserName">{{errorUserName}}</span><br>
                         <h5>Password:</h5>
                         <input ng-model="user.password" type="password" name="password" value=""><br>
                         <span ng-show="errorPassword">{{errorPassword}}</span><br>
                         <input type="submit" value="Login">
                     </form>
                    <a href="#">Forgot Password ?</a>
            </div>
            <div class="col-md-6 login-right">
                    <h3>New Registration</h3>
                    <div class="strip"></div>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a href="#/signup" class="button">Create An Account</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
