<!doctype html>
<html ng-app="myApppp">
<head>
  <title>Hierarchia zasięgow AngularJS</title>
</head>
<body>
  <div ng-controller="LevelA">
    <h3>{{title}}</h3>
    ValueA: {{valueA}} <input type="button" ng-click="inc()" value ="+" />
    <div ng-controller="LevelB"><hr />
      <h3>{{title}}</h3>
      Wartość A = {{valueA}}<br />
      Wartość B = {{valueB}}
      <input type="button" ng-click="inc()" value="+" />
      <div ng-controller="LevelC"><hr />
        <h3>{{title}}</h3>
        Wartość A = {{valueA}}<br />
        Wartość B = {{valueB}}<br />
        Wartość C = {{valueC}}
        <input type="button" ng-click="inc()" value="+" />
      </div>
    </div>
  </div>
  <script src="/js/angular.min.js"></script>
  <script src="/js/scope_hierarchy.js"></script>
</body>
</html>
